In [38]:
import psycopg2

In [35]:
#conn = psycopg2.connect(host="localhost", port="5432", database="master", user="postgres", password="password1234")

In [39]:
from config import config

In [46]:
def connect():
    connection = None
    try:
        params = config()
        print("connecting to db...")
        connection = psycopg2.connect(**params)

        # create a cursor
        crsr = connection.cursor()
        print('db create:')
        crsr.execute("CREATE TABLE cars (id serial PRIMARY KEY, year integer, make varchar, model varchar);")
        connection.commit()
                                                    
        crsr.execute("SELECT * FROM cars;")
        dt_table = None
        db_table = crsr.fetchone()
        if dt_table == None:
            print('successful')
        crsr.close()
        
    except(Exception, psycopg2.DatabaseError) as error:
        print(error)
        
    finally:
        if connection is not None:
            
            connection.close()
            print('db session quit')
if __name__ == "__main__":
    connect()

connecting to db...
db create:
successful
db session quit

In [30]:
params = config()
conn = psycopg2.connect(**params)
cur = conn.cursor()

In [31]:
cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")

DuplicateTable: relation "test" already exists

In [32]:
cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)", (100, "abc'def"))

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [33]:
cur.execute("SELECT * FROM test;")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [25]:
cur.fetchone()

(1, 100, "abc'def")

In [26]:
conn.commit()

In [27]:
cur.close()
conn.close()